body {
    font-family: 'Open Sans', sans-serif;
    color: #454545;
    max-width: 800px;
    margin: auto;
    font-size: 16px;
    text-align: justify;
    padding: 1em;
}

h1 {
    font-weight:600;
    font-size: 32px;
    margin-top: 58px;
}

div {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    color: #0077aa;
}

a:visited {
    color: maroon;
}

blockquote {

}

.top-right {
    position: fixed;
    top: 10px;
    right: 10px;
}

.contrast {
    padding: 2px 4px;
    margin: 2px 0;
    background-color: lightgray;
    text-decoration: underline;
    font-size: 13px;
    border-radius: 4px;
}

.inverted {
    padding: 2px 4px;
    margin: 2px 0;
    color: white;
    background-color: black;
    text-decoration: underline;
    text-decoration-color: white;
    font-size: 13px;
    border-radius: 4px;
}

.box {
    display:flex;
    flex-direction:row;
    align-items:flex-start;
}

.cat-container {
    display:flex;
    flex-direction:row;
    align-items:flex-start;
}

.logo {
    width: 16px;
    height:16px;
}

.cat-img {
    width: 289px;
    height: 192px;
}

figcaption {
    font-size: 11px;
}

.kopimi {
    width: 32px;
    height: 32px;
    display: block;
    margin: auto;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.little {
    font-size: 7px;
}

.underline {
    text-decoration: underline;
}

.mf-color {
    color:#730000;
}

.mf-color2 {
    color:#c0392b;
    text-decoration: underline;
}

.blue {
    color:blue;
    cursor: not-allowed;
}

.purple {
    color:purple;
    cursor:not-allowed;
}

.color-444 {
    color: #444;
}

.color-45 {
    color:#454545;
}