font-family {
  
}   

body {
    font-family: 'Open Sans', sans-serif;
    color: #454545;
    max-width: 800px;
    margin: auto;
    font-size: 16px;
    text-align: justify;
    padding: 1em;
}

h1 {
    font-weight:600;
    font-size: 32px;
    margin-top: 58px;
}


div {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.top-right {
    position: fixed;
    top: 10px;
    right: 10px;
}

.contrast {
    padding: 2px 4px;
    margin: 2px 0;
    background-color: lightgray;
    text-decoration: underline;
    font-size: 13px;
    border-radius: 4px;
}

.inverted {
    padding: 2px 4px;
    margin: 2px 0;
    color: white;
    background-color: black;
    text-decoration: underline;
    text-decoration-color: white;
    font-size: 13px;
    border-radius: 4px;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.little {
    font-size: 7px;
}

.bold {
    font-weight: bold;
}
.mfcolor {
    color:#730000;
}

.mfcolor2 {
    color:#c0392b;
    text-decoration: underline;
}

.blue {
    color:blue
}

.purple {
    color:purple;
}

.chat {
    width: 250px;
    height: auto;
}