* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sunlit-clay:#d4a96a;
    --deep-teal:#5f887d;
    --celadon:#bbdfc7;
    --turquoise-surf:#00b4d8;
    --turquoise-soft: rgb(0, 180, 216, 0.1);
    --dark-emerald:#2d6a4f;
}

/* --- importants --- */

.navbar {
    background-color: var(--dark-emerald);
    padding: 5px 20px;
    position:sticky;
    top:0;
    --bs-navbar-active-color: white !important;
}

.navbar-brand, .nav-link, .navbar-toggler {
    color:var(--sunlit-clay);
}

.logo {
    width: 32px;
    height:32px;
    margin:10px;
}

#banner-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-image: url('images/kauli.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#banner-text {
    color: var(--dark-emerald);
    text-align: center;
    font-size: 32px;
}

.btn-surf {
    background-color: var(--sunlit-clay);
    color: white;
    opacity: 0.5;
}

.btn-surf:hover {
    border:2px solid #2d6a4f;
    transition: opacity 1s ease-in-out;
}

.description {
    width:80%;
    margin:auto;
}

/* --- Media queries --- */

@media (min-width:768px) {

}

@media (min-width:1024px) {

}

/* --- utilitaires --- */

.font-flavors {
    font-family: 'Flavors', cursive;
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.text-center {
    text-align: center;
}

.flex-between {
    display:flex;
    justify-content: space-between;
}

.no-list {
    list-style:none;
}

.bg-color-turquoise-soft {
    background-color: var(--turquoise-soft);
}

.horizontal-nav a {
    color: var(--sunlit-clay);
}

.footer-col {
    flex:1;
}